<h2 style="color: brown; font-style: italic;">{{plantName}} </h2>
<table>
    <tr> 
        <img src="/assets/images/{{imageName}}" alt="Plant image" width="150px" height="150px">
        <td>
        <!-- <td *ngFor="let p of allPlanters"> -->
            <!-- <div><img src="/assets/images/Title.jpeg"></div> -->
           
            <div> <i>price:- </i> {{price}} </div>
            <div><i>height:- </i>{{height}}</div>
            <div><i>plantName:- </i>{{plantName}}</div>
            <div><i> imageName:- </i>{{imageName}}</div>
            <!-- <div><i>Capacity:- </i>{{p.planterCapacity}}</div><br /> -->
            <hr>
        </td>
        
    </tr>
</table>

